/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.b_h1 {
    font-size: 50px;
    letter-spacing: 5px;
}
.s_icon {
    margin-top: 5px;
}
.s_icon a i {
	margin: 0 3px;
    height: 35px;
    width: 35px;
    font-size: 25px;
    line-height: 35px;
}

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.b_h1 {
    font-size: 60px;
    letter-spacing: 5px;
    }
    .s_icon {
    margin-top: 10px;
    }
    .s_icon a i {
    height: 40px;
    width: 40px;
    font-size: 30px;
    line-height: 40px;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.b_h1 {
    font-size: 75px;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}